USE [master]
GO
/****** Object:  Database [ClientDB]    Script Date: 12.03.2026 6:50:19 PM ******/
CREATE DATABASE [ClientDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ClientDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ClientDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ClientDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ClientDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ClientDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ClientDB]
GO
/****** Object:  Table [dbo].[tbl_client_contacts]    Script Date: 12.03.2026 6:50:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_client_contacts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDClient] [int] NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Designation] [nvarchar](100) NULL,
	[Email] [nvarchar](255) NULL,
	[Mobile] [nvarchar](50) NULL,
	[Gender] [nvarchar](20) NULL,
	[BirthDate] [date] NULL,
	[IsPrimary] [bit] NOT NULL,
	[Notes] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_clients]    Script Date: 12.03.2026 6:50:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_clients](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ClientCode] [nvarchar](50) NULL,
	[CompanyName] [nvarchar](255) NOT NULL,
	[Industry] [nvarchar](100) NULL,
	[Email] [nvarchar](255) NULL,
	[Phone] [nvarchar](50) NULL,
	[Website] [nvarchar](255) NULL,
	[Country] [nvarchar](100) NULL,
	[City] [nvarchar](100) NULL,
	[Address] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[CreditLimit] [decimal](18, 2) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK__Clients__3214EC27E9A9E418] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_client_contacts] ADD  DEFAULT ((0)) FOR [IsPrimary]
GO
ALTER TABLE [dbo].[tbl_client_contacts] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[tbl_clients] ADD  CONSTRAINT [DF__Clients__IsActiv__38996AB5]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tbl_clients] ADD  CONSTRAINT [DF__Clients__Created__398D8EEE]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[tbl_client_contacts]  WITH CHECK ADD  CONSTRAINT [FK_Contacts_Clients] FOREIGN KEY([IDClient])
REFERENCES [dbo].[tbl_clients] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_client_contacts] CHECK CONSTRAINT [FK_Contacts_Clients]
GO
USE [master]
GO
